{% extends "_layout.twig" %}

{% block extra_styles %}
  <link rel="stylesheet" href="/css/style.css"> {# Specifieke CSS voor detailpagina #}
{% endblock %}

{% block content %}
  <article>
    {% if entry.imageSlider is not empty %}
      <div class="slider-container">
        <button class="prev-slide">Prev</button>
        <div class="slides">
          {% for image in entry.imageSlider %}
            <div class="slide">
              <img src="{{ image.url('detail') }}" alt="{{ entry.title }}">
            </div>
          {% endfor %}
        </div>
        <button class="next-slide">Next</button>
      </div>
    {% else %}
      <p>No image available.</p>
    {% endif %}
    <div>
      <h1>{{ entry.title }}</h1>
      <p>{{ entry.introText }}</p>
      <p>{{ entry.fullText }}</p>
    </div>
  </article>

  <script src="/js/slider.js"></script>
{% endblock %}


