{# DETAIL PAGINA VAN SPORT #}
{% extends "_layout.twig" %}

{% block content %}
    <section class="article-details">
        <img src="{{entry.bannerImage.one().url('detail')}}" alt="">
        <h2>{{entry.title}}</h2>
            <p>{{entry.introText}}<p>
          <p>{{entry.fullText}}<p>
        <p>{{entry.richText}}</p>
    </section>    
{% endblock %}






