{# MAIN FILE #}
<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('@web/styles/normalize.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/shared.css?148359') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css?123539') %}
    {% do craft.app.view.registerCssFile('@web/styles/detail-accesoires.css?58686') %}
    {% do craft.app.view.registerCssFile('@web/styles/footer.css?5832538') %}
    {% do craft.app.view.registerCssFile('@web/styles/contact.css?693635') %}
    {% do craft.app.view.registerCssFile('@web/styles/search.css?296349') %} 
    {% do craft.app.view.registerCssFile('@web/styles/navigatie.css?3512853') %} 

</head>
<body>
    <header>
        <div class="header-container">
            {% set headerTitle = craft.entries().section('headerTitle').one() %}
            <div class="header-title">
                <a href="{{ siteUrl }}">
                    {{ headerTitle.richText }}
                </a>            
            </div>
            <nav class="nav-menu">
                <input type="checkbox" name="menu-toggle" id="menu-toggle"/>
                <span></span>
                <span></span>
                <span></span>
                <ul id="nav-menu">
                    <li><a href="{{ siteUrl }}">Home</a></li>
                    <li><a href="{{ siteUrl }}sport">Sporten</a></li>
                    <li><a href="{{ siteUrl }}accesoires">Accessoires</a></li>
                    <li><a href="{{ siteUrl }}contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    {% include 'categories/footer.twig' %}

</body>
</html>
