{% extends "_layout.twig" %}

{% block content %}
  <link rel="stylesheet" href="/styles/detail-accesoires.css"> 

  {% set searchQuery = craft.app.request.getParam('search') %}

  <form method="get" action="{{ url('accesoires') }}" class="search-form">
    <input type="text" name="search" placeholder="Search..." value="{{ searchQuery }}">
    <button type="submit">Search</button>
  </form>

  {% set entries = craft.entries()
    .section('accesoires')
    .search(searchQuery) 
    .all()
  %}

  <section class="news-section all-news moved-down">
    {% for entry in entries %}
      <article>
        {% if entry.imageSlider is not empty %}
          <div class="slider-container">
            <div class="slides">
                {% for image in entry.imageSlider %}
            <div class="slide">
                    <img src="{{ image.url('detail') }}" alt="{{ entry.title }}">
            </div>
          {% endfor %}
            </div>
          </div>
        {% else %}
          <p>No image available.</p>
        {% endif %}
        <div>
          <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
          <p>{{ entry.fullText }}</p>
          <p>{{ entry.introText }}</p>
        </div>
      </article>
    {% endfor %}
  </section>
    <script src="/js/slider.js"></script>

{% endblock %}
