{% extends "_layout.twig" %}

{% block content %}
    {% set accesoires = craft.entries.section('accesoires').one() %}
    
    <h1>{{ accesoires.title }}</h1>
    <p>{{ accesoires.introText }}</p>

    {% set images = accesoires.imageSlider.all() %}

    <div class="slider">
        <div class="slides">
            {% for image in images %}
                <div class="slide">
                    <img src="{{ image.url }}" alt="{{ image.title }}">
                </div>
            {% endfor %}
        </div>

        <div class="controls">
            <button class="prev-slide">← Vorige</button>
            <button class="next-slide">Volgende →</button>
        </div>
    </div>

    <div class="full-text">
        {{ accesoires.fullText }}
    </div>

    <style>


    </style>


{% endblock %}
