{% extends "_layout.twig" %}

{% block content %}
    {% set contact = craft.entries.section('contactPagina').one() %}

    {% if contact %}
        <section class="contact">
            <h1>{{ contact.title }}</h1>

            <div class="rich-text">
                {{ contact.richText }}
            </div>

            <section class="about-us">
                <h2>About Us</h2>
                {{ contact.aboutUs }}
            </section>

            <section class="contact-us">
                <h2>Contact Us</h2>
                <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                <p>{{ contact.phoneNumber }}</p>
                <p>{{ contact.fullText }}</p>
                <p>{{ contact.introText }}</p>

            </section>
        </section>
 
    {% endif %}
{% endblock %}
