{% extends "_layout.twig" %}

{% block content %}
    {# Haal de entry op uit de juiste sectie #}
    {% set contact = craft.entries.section('contactPagina').one() %}

    {# Zorg ervoor dat de entry bestaat voordat je deze gebruikt #}
    {% if contact %}
        <section class="contact">
            <h1>{{ contact.title }}</h1>

            <div class="rich-text">
                {{ contact.richText }}
            </div>

            <section class="about-us">
                <h2>About Us</h2>
                {{ contact.aboutUs }}
            </section>

            <section class="contact-us">
                <h2>Contact Us</h2>
                <p>Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                <p>Phone: {{ contact.phoneNumber }}</p>
                <p>Address: {{ contact.fullText }}</p>
                <p>Opening hours: {{ contact.introText }}</p>

            </section>
        </section>
    {% else %}
        <p>Sorry, no content available at this moment.</p>
    {% endif %}
{% endblock %}
